#title {
background-image:url(../icon128.png);
background-repeat:no-repeat;
background-position:33px 7px;
}

body {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size:80%;
margin:10px;
background: #E4E4E4;
padding-left: 40px;

}

#hoge {
color:#333;
background: #FFF;
border-bottom:1px solid #bbb;
border-left:1px solid #bbb;
border-right:1.4px solid #aaa;
-webkit-border-bottom-right-radius: 25px 15px;
-webkit-border-bottom-left-radius: 25px 15px;
width:95%;
font-size:100%;
padding: 0px 0px 14px 0px;
}

h1 {
font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:#444;
font-size:356%;
padding-bottom:10px;
padding-left:134px;
padding-top:13px;
background-size:5px;
margin-bottom: 10px;
min-height: 80px;
}

h2 {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(40%,#EBEBEB), color-stop(100%,#eee));
border-bottom:1px solid #b5ceee;
border-top:1px solid #99b;
font-size:150%;
font-weight:170;
padding: 5px 5px 10px 10px;
margin: 0 0 0 0;
}

h3 {
color:#444;
font-size:170%;
text-align: center;
padding-bottom:0;
padding-left:50px;
padding-top:0;
background-size:5px;
}

h4 {
padding-left: 10px;
font-size: 15px;
}

img {
vertical-align:middle;
padding-right:5px;
}

p {
padding: 3px 3px 3px 10px;
line-height:190%;
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 14px;
max-width: 680px;
}

table {
background:#F5F7FF;
color:#333;
border-collapse: separate;
border-spacing:0px;
border:1px solid #ccc;
border-radius: 12px;
padding: 4px 4px 4px 4px;
margin: 18px;
}

tr td {
vertical-align:middle;
padding: 3px 8px 3px 15px;
}

td span:hover {
cursor:pointer;
color: RGBA(1,1,1,0.2);
background-image:url(x.png);
background-repeat:no-repeat;
background-position:0 3px;
}

th {
font-family:"Helvetica Neue";
background-color:#edeff9;
color:#333;
height:30px;
min-width: 100px;
width:inherit;
font-size:1.4em;
text-align:center;
vertical-align:center;
}
#prefs-table {
border-collapse: separate;
border-spacing:0px;
border:none;
background:none;
}

#prefs-table tr td{
background:#F5F7FF;
border-bottom:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-spacing:0px;
}

#prefs-table th{
border:1px solid #ccc;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(40%,#EBEBEB), color-stop(100%,#eee));
}

#prefs-table tr:last-child td:first-child {
border-bottom-left-radius:12px
}

#prefs-table tr:last-child td:last-child {
border-bottom-right-radius:12px
}

#true .nosign{
cursor:pointer;
opacity: 0;
position: relative;
margin-left:-46px;
}

#false .nosign{
position: relative;
margin-left:-46px;
cursor:pointer;
opacity: 1;
}

#false img:hover  {
opacity: 0.3;
}
#true .nosign:hover  {
opacity: 0.3;
}

#donate {
padding:10px 10px 10px 10px;
}